.area {
    height: 90vh;
    width: 100%;
    display: flex;
    
    .code {
        display: flex;
        flex-direction: column;

        .text, .doc {
            width: 45vw;
            height: 50%;
            margin: 10px;
            resize: none;
            overflow: auto;

            border: 1px solid black;

            * {
                margin: 0;
            }
        }
    }

    .btn {
        outline: none;
        background-color: rgba(36, 113, 228, 0.918);
        height: 3rem;
        width: 16rem;
        border: none;

        font-size: 20px;
        font-weight: 100;
        color: white;

        align-self: center;
    }

    .res-container {
        display: flex;
        flex-direction: column;
        width: 100%;

        .out, .result {
            height: 50%;
            margin: 10px;
            border: 1px solid black;
            overflow: auto;
        }
    }
}

.err {
    color: red;
}